<div class = 'row'>
  <div class = 'col-xs-6 col-md-6'>
    <div class = 'main_content'>
      <h1>Новости</h1>
      <hr/>
      <div class='main_news'>
        <span class = 'date'>19<br/>
          Jul</span>
        <a href="#"><b><%= @mainnewsitem.caption %></b><br/>
          <%= @mainnewsitem.description %>
        </a>
      </div>
      <ul class = "news_list">
        <% @newsitems.each do |newsitem| %>
          <li>
            <span class = 'date'>19<br/>
              Jul</span>
            <a href="#"><b><%= newsitem.caption %></b><br/>
              <%= newsitem.description %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class = "col-xs-3 col-md-3">
    <div class = 'banners'>
      <div class = 'first_bg'>
        <div class = 'banner _ac_ban ac_ban'>
          <a>
            <%= image_tag("ban_main_11.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_1280_6.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_2.jpg") %>
          </a>
        </div>
      </div>
      <div class = 'second_bg'>
        <div class = 'banner _ac_ban ac_ban'>
          <a>
            <%= image_tag("ban_main_11.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_1280_6.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_2.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-xs-3 col-md-3">
    <div class = "main_content">
      <h1>Курсы валют</h1>
      <table style="width:100%;text-align:center;">
      	<tr style="border-bottom:1px solid #d40000;">
      		<td>
      			Покупка
      		</td>
      		<td>      			
      		</td>
      		<td>
      			Продажа
      		</td>      		
      	</tr>
      	<tr style="border-bottom:1px solid #d40000;">
      		<td>
      			67
      		</td>
      		<td  style="padding:6px 6px">  
      			<i class="fa fa-usd fa-2x" style="color:#d40000;"></i>  			
      		</td>
      		<td>
      			69
      		</td>      		
      	</tr>
      	<tr style="border-bottom:1px solid #d40000;">
      		<td>
      			77
      		</td>
      		<td  style="padding:6px 6px">  
      			<i class="fa fa-euro fa-2x" style="color:#d40000;"></i>  			
      		</td>
      		<td>
      			79
      		</td>      		
      	</tr>
      	<tr style="border-bottom:1px solid #d40000;">
      		<td>
      			77
      		</td>
      		<td  style="padding:6px 6px">  
      			<i class="fa fa-ruble fa-2x" style="color:#d40000;"></i>  			
      		</td>
      		<td>
      			79
      		</td>      		
      	</tr>
      	<tr style="border-bottom:1px solid #d40000;">
      		<td>
      			77
      		</td>
      		<td  style="padding:6px 6px">  
      			<%=image_tag("kzt.svg", :id => "kzt")%>  			
      		</td>
      		<td>
      			79
      		</td>      		
      	</tr>
      </table>

<%=image_tag("kzt.svg", :id => "kzt")%>
    </div>
  </div>
</div>