<div class = 'row'>
  <div class = 'col-xs-6 col-md-6'>
    <div class = 'main_content'>
    <H1><%=@redis_message%></H1>
      <h1>Новости</h1>
      <hr/>
      <% if @mainnewsitem %>
      <div class='main_news'>
        <span class = 'date'>19<br/>
          Jul</span>
        <a href="#"><b><%= @mainnewsitem.caption %></b><br/>
          <%= @mainnewsitem.description %>
        </a>
      </div>
      <% end %>
      <ul class = "news_list">
        <% @newsitems.each do |newsitem| %>
          <li>
            <span class = 'date'>19<br/>
              Jul</span>
            <a href="#"><b><%= newsitem.caption %></b><br/>
              <%= newsitem.description %>
            </a>
          </li>
        <% end %>
      </ul>

      

    </div>
  </div>
  <div class = "col-xs-3 col-md-3" style="padding-right:0px;">
    <div class = 'banners'>
      <div class = 'first_bg'>
        <div class = 'banner _ac_ban ac_ban'>
          <a>
            <%= image_tag("ban_main_11.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_1280_6.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_2.jpg") %>
          </a>
        </div>
      </div>
      <div class = 'second_bg'>
        <div class = 'banner _ac_ban ac_ban'>
          <a>
            <%= image_tag("ban_main_11.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_1280_6.jpg") %>
          </a>
        </div>
        <div class = 'banner _ac_ban'>
          <a>
            <%= image_tag("ban_main_2.jpg") %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class = "col-xs-3 col-md-3" style="padding-left:0px;">
  
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Наличные курсы на <b style="float:right;">01.08.2016</b></a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class = "rates_table">           
            <tr>
                <td width="45%">
                  Покупка
      			</td>
                <td>
                </td>
                <td width="45%">
                  Продажа
      			</td>
              </tr>
        	<% @records.each do |record| %>
              
              <tr>
                <td>
                  <b><%= record['buy_rate'] %></b>
      			</td>
                <td class = 'cur_sym'>
                <% if record['curid'] == 840%>
                  <i class="fa fa-usd fa-1x"></i>
                  <%end %>

                </td>
                <td>
                  <b><%= record['sell_rate'] %></b>
      			</td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Безналичные курсы валют</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <table class = "rates_table">
              <tr>
                <td width="40%">
                  Покупка
      		</td>
                <td>
                </td>
                <td width="40%">
                  Продажа
      		</td>
              </tr>
              <tr style="">
                <td>
                  67
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-usd fa-1x"></i>
                </td>
                <td>
                  69
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-euro fa-1x"></i>
                </td>
                <td>
                  79
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-ruble fa-1x"></i>
                </td>
                <td>
                  79
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <%=image_tag("kzt.svg", :id => "kzt")%>
                </td>
                <td>
                  79
      		</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              Курсы валют НБКР</a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            <table class = "rates_table">
              <tr>
                <td width="40%">
                  Покупка
      		</td>
                <td>
                </td>
                <td width="40%">
                  Продажа
      		</td>
              </tr>
              <tr style="">
                <td>
                  67
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-usd fa-1x"></i>
                </td>
                <td>
                  69
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-euro fa-1x"></i>
                </td>
                <td>
                  79
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <i class="fa fa-ruble fa-1x"></i>
                </td>
                <td>
                  79
      		</td>
              </tr>
              <tr>
                <td>
                  77
      		</td>
                <td class = 'cur_sym'>
                  <%=image_tag("kzt.svg", :id => "kzt")%>
                </td>
                <td>
                  79
      		</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>