<% content_for :bigbanners do %>
  <div id="carousel-main" style='position: relative;'>
    <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
        <% i = 1 %>
        <% @bigbanners.each do |bigbanner|%>
          <li data-target="#transition-timer-carousel" data-slide-to="<%=i%>"></li>
          <% i = i+1 %>
        <% end %>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <% if @mainbigbanner %>
            <%= image_tag(@mainbigbanner.image.url(:large))%>
            <div class="slider_info">
              <h1 class="carousel-caption-header" style="padding-bottom: 12px;color:<%=@mainbigbanner.caption_text_color%>"><%= @mainbigbanner.caption %></h1>
              <p class="carousel-caption-text hidden-sm hidden-xs" style="color:<%=@mainbigbanner.description_text_color%>">
                <%= @mainbigbanner.description %>
              </p>
              <%=link_to special_offer_path(@mainbigbanner.id), class: "learn_more", style:"color:#{@mainbigbanner.caption_text_color}" do %>
                Узнать подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <% @bigbanners.each do |bigbanner|%>
          <div class="item">
            <%= image_tag(bigbanner.image.url(:large))%>
            <div class="slider_info">
              <h1 class="carousel-caption-header" style="padding-bottom: 12px;color:<%=bigbanner.caption_text_color%>"><%= bigbanner.caption %></h1>
              <p class="carousel-caption-text hidden-sm hidden-xs" style="color:<%=@mainbigbanner.description_text_color%>">
                <%= bigbanner.description %>
              </p>
              <%=link_to special_offer_path(bigbanner.id), class: "learn_more", style:"color:#{bigbanner.caption_text_color}" do %>
                Узнать подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
      </a>
      <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
      </a>
      <!-- Timer "progress bar" -->
      <hr class="transition-timer-carousel-progress-bar animate" />
    </div>
    <aside class="head_contacts" style="height: auto; top: 42px;">
      <div class="base">
        <div class="main_office">
          <span>
            Головной офис в г.Бишкек                                    
          </span>
        </div>
        <span class="phone">
          <span>(0312)</span> 443-443
          <br>
          <span>(0312)</span> 330-333
        </span>
        <div class="links_group">
          <%= link_to "Офисы обслуживания", offices_path(), :title=>"Офисы обслуживания",  data: { turbolinks: false } %>
          <a href="/atm/" title="Банкоматы">Банкоматы</a>
        </div>
      </div>
    </aside>
  </div>
<% end %>
<div class='col-xs-6 col-md-6'>
  <div class='main_content'>
    <h1>Новости</h1>
    <hr/>
    <% if @mainnewsitem %>
      <div class='main_news'>
        <span class = 'date'><%= @mainnewsitem.creation_date.mday %><br/>
          <%= MonthShortName(@mainnewsitem.creation_date.mon) %></span>
        <%= link_to news_details_path(@mainnewsitem[:id]) do %>
          <b><%= @mainnewsitem.caption.upcase %></b><br/>
          <%= @mainnewsitem.description %>
        <% end %>
      </div>
    <% end %>
    <ul class = "news_list">
      <% @newsitems.select{|n| n!=@mainnewsitem}.each do |newsitem| %>
        <li>
          <span class = 'date'><%= newsitem.creation_date.mday %><br/>
            <%= MonthShortName(newsitem.creation_date.mon) %></span>
          <%= link_to news_details_path(newsitem[:id]) do %>
            <b><%= newsitem.caption %></b><br/>
            <%= newsitem.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <a href="<%= news_path()%>" style="float:right;color:#000;">
      <i class="fa fa-list-ul" aria-hidden="true"></i> ВСЕ НОВОСТИ
    </a>
  </div>
</div>
<% content_for :sidebar do %>
  <div class = "col-xs-3 col-md-3" style="padding-right:0px;">
    <%= render partial: "/shared/small_banners", locals: {banners:@allminibanners}%>
  </div>
  <div class = "col-xs-3 col-md-3" style="padding-left:0px;">
    <%= render partial: "/shared/rates", locals: {market_rates_cash:@market_rates_cash,market_rates_noncash:@market_rates_noncash, currency_rates:@currency_rates, currencies: @currencies}%>
    <h4><i class="fa fa-bar-chart fa-1x" style="color:#d40000;padding-right:10px;"></i>
      Финансовая отчетность</h4>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation">
        <%= link_to(reports_path()) do %>
          <i class="fa fa-file-pdf-o fa-2x" style="color:#d40000;padding-right:10px;"></i>Ежемесячная отчетность
      <% end %>
      </li>
      <li role="presentation">
        <%= link_to(reports_path()) do %>
          <i class="fa fa-file-pdf-o fa-2x" style="color:#d40000;padding-right:10px;"></i>Квартальная отчетность
      <% end %>
      </li>
      <li role="presentation">
        <%= link_to(reports_path()) do %>
          <i class="fa fa-file-pdf-o fa-2x" style="color:#d40000;padding-right:10px;"></i>Годовая отчетность
    <% end %>
      </li>
    </ul>
    <br>
    <br>
  </div>
  <br/>
  <br/>
  <br/>
<% end %>
<% content_for :footer do %>
  <%= render partial: "/shared/fasttransfers"%>
<% end %>
