<p id="notice"><%= notice %></p>
<%= render 'shared/special_offer', special_offer: @special_offer %>
<hr>
<strong>Цвет текста заголовка на баннере: </strong><%= @special_offer.caption_text_color%><br>
<strong>Цвет текста описания на баннере</strong><%= @special_offer.description_text_color%><br>
<strong><% if @special_offer.enabled %>
Активный
<% else  %>
Не активный
<% end  %>
</strong>
<br>
<hr>
<%= link_to 'Редактировать', edit_admin_special_offer_path(@special_offer) %> |
<%= link_to 'Все акции', admin_special_offers_path %>
