<%= form_for(newsitem) do |f| %>
  <% if newsitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newsitem.errors.count, "error") %> prohibited this newsitem from being saved:</h2>

      <ul>
      <% newsitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :creation_date %>
    <%= f.date_select :creation_date %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.number_field :priority %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
