<%= render layout: "shared/one_column_sidebar", locals:{title:@credit_purpose["Name"], subtitle:params["client_type"].to_i == 2?"Корпоративным клиентам": "Частным клиентам"} do %>
  <% @credit_products.each do |product| %>
    <div class="rate">&le;<%=product["MinRate"]%></div>
    <h3 style="color: #d40000;"><%=product["Name"]%></h3>
    <article>
      <p>
        <%=product["Description"]%>
      </p>
    </article>
    <ul>
      <li>От <%=product["MinRate"]%> годовых</li>
      <li>До <%=product["MaxPeriod"]%> мес.</li>
      <li>До <%=product["MaxSumm"]%> сом</li>
      <%if product["IsMortgageProduct"] == 1%>
        <li>Нужен залог</li>
      <% end %>
      <%if product["IsTranchesAllowed"] == 1%>
        <li>Возможно выдача траншами</li>
      <% end %>
      <%if product["IsBusinessProduct"] == 1%>
        <li>Кредит для бизнеса</li>
      <% end %>
    </ul>
    <div style="float:right; margin-bottom:15px;"><a href="<%=products_credit_types_creditdetails_path(params[:client_type],params[:type_id],product["ProductID"])%>" >Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a></div>
    <div class="clearfix"></div>
  <% end %>
<% end %>