<h2><%=office["Name"]%></h2>
<p><strong>Дата регистрации: &nbsp;</strong><%=office["AttorneyIssueDate"]%></p>
<p><strong>КОД ПО БИК: &nbsp;</strong><%=office["BIC"]%></p>
<p><strong>Адрес: </strong><%=office["Address"]%></p>
<p><strong><%=office["ManagerPosition"]%>: </strong><%=office["ManagerName"]%></p>
<p><strong>Тел: </strong><%=office["Phone"]%></p>
<p><strong>Факс: </strong><%=office["Fax"]%></p>
<p>&nbsp;</p>
<p><strong>Режим работы:</strong></p>
<p><%=office["Days"]%> &nbsp; &nbsp; &nbsp;<strong><%=office["Hours"]%></strong></p>
<p><strong><%=office["LunchHours"]%></strong></p>