<%= render layout: "shared/one_column_sidebar", locals:{title:"Переводы клиринг гросс", subtitle:params["client_type"].to_i == 2?"Корпоративным клиентам": "Частным клиентам"} do %>

<h2 id="credit_interest_rates"><i class="fa fa-percent" aria-hidden="true"></i>  Тарифы</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <div id="commissions_table">
      <div class="panel panel-warning">
        <!-- Default panel contents -->
        <% transfer_types = {1=>"Клиринг",2=>"Гросс"}%>
        <% transfer_types.each do |code, name| %>
          <div class="panel-heading"><%=name%></div>
          <!-- Table -->
          <table class="table">
            <tr>
              <th>сумма</th>
              <th>комиссия</th>
            </tr>
            <% @cliring_gross_commissions.select{|x| x["TypeID"]==code}.each do |comm|%>
              <tr>
                <td><% if(comm["MinSum"]==-1 && comm["MaxSum"]!=-1) %>
                    до <%= comm["MaxSum"]%>
                    <% elsif(comm["MinSum"]!=-1 && comm["MaxSum"]==-1) %>
                    от <% comm["MinSum"] %>
                    <% elsif(comm["MinSum"]==-1 && comm["MaxSum"]==-1) %>
                    на любую сумму отправки
                    <% end %>
                </td>
                <td><%= comm["Commission"]%>
                  <% if(comm["InProc"])%>%<%end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
    <h2><i class="fa fa-calculator" aria-hidden="true"></i>Рассчитайте комиссию перевода</h2>
    <div class="panel panel-primary">
      <div class="panel-body">
        <%= form_tag(products_transfer_types_branch_transfers_calculate_commission_fee_path, remote: true, method: "post", class: "nifty_form") do %>
          <div class = "container-fluid">
            
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <%= label_tag(:summa, "Сумма:") %>
                  <%= text_field_tag(:summa, "0", class: "form-control") %>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class="form-group">
                  <div class="panel panel-primary">
                  <div class="panel-heading">
                    Комиссия за Клиринг
                  </div>
                    <div class="panel-body">
                      <%= label_tag(:commission_rate, "Ставка:") %>
                      <%= text_field_tag(:commission_rate, "0", class: "form-control") %>
                      <%= label_tag(:commission_fee, "комиссия:") %>
                      <%= text_field_tag(:commission_fee, "0", class: "form-control") %>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-4'>
                <div class="form-group">
                  <div class="panel panel-primary">
                                    <div class="panel-heading">
                    Комиссия за Гросс
                  </div>

                    <div class="panel-body">
                      <%= label_tag(:commission_rate_gross, "Ставка:") %>
                      <%= text_field_tag(:commission_rate_gross, "0", class: "form-control") %>
                      <%= label_tag(:commission_fee_gross, "комиссия:") %>
                      <%= text_field_tag(:commission_fee_gross, "0", class: "form-control") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {              
              calcCommissions = function ()
              {
                $.ajax({
                  url: "<%= products_transfer_types_cliring_gross_calculate_commission_fee_path()%>",
                  method: 'POST',
                  dataType: "script",
                  data: {                    
                    summa: $('#summa').val()
                  },
                success: function(data, textStatus) {},
                error: function() {}
              });
            }
              $("#summa").on('change keyup paste', calcCommissions);
             });
</script>