<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-xs-12 col-md-12'>
      <div class="page-header">
        <h2><%=garant.name%>&nbsp&nbsp&nbsp&nbsp<small style="color:#000;"><i class="fa fa-phone-square" aria-hidden="true" style="color:#d40000"></i> 0555-555555</small></h2>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = 'col-xs-12 col-md-12'>
      <table class="table table-hover">
        <tr>
          <th>Стоимость</th>
          <th style="color:red;"><%=garant.cost%> сом</th>
        </tr>
        <tr>
          <th>Общее описание</th>
          <td><%= garant.description%></td>
        </tr>
        <% garant.garant_details.each do |detail|%>
          <tr>
            <th><%=detail.prop_key%></th>
            <td><%=detail.prop_value%></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class = "row">
    <div class = 'col-xs-12 col-md-12'>
      <% garant.garant_images.each do |image|%>
        <div  style="float:left; margin-left:10px">
          <a href="#" data-toggle="modal" data-target=".pop-up-<%=image.id%>">
            <%= image_tag(image.image.url(:med), class: "img-responsive img-rounded center-block")%>
          </a>
        </div>
        <!--  Modal content for the mixer image example -->
        <div class="modal fade pop-up-<%=image.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel-1"><%=image.image_description%></h4>
              </div>
              <div class="modal-body">
                <%= image_tag(image.image.url(:large), class: "img-responsive img-rounded center-block")%>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      <% end %>
      <!-- /.modal mixer image -->
    </div>
  </div>
</div>