       
<div id='mainmenu'>
  <div style="position:relative">
    <span>
      <a style="position:absolute;top:0px;" class="menu-toggle" id = 'open-menu' href="#">
        <%= image_tag("hamburger.svg")%></a>
    </span>
    <span>
      <%= image_tag("logoShort.svg", :id=>"minibrand")%>
    </span>
    <ul class="nav navbar-nav" id="bs-example-navbar-collapse-1">
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                  <% if params["client_type"].to_i==2%> 
                  style="color:#d40000;text-decoration:underline"
                  <% end %>
                  >Корпоративным клиентам</a>
        <ul class="dropdown-menu megamenu row">
          <li class="col-sm-4">
            <ul>
              <li><a href="#" class="nav-child"><strong></strong></a></li>
              <li>
                <%= link_to products_deposit_types_path(2), :title => "Депозиты корпоративным клиентам", :class=> "nav-child" do %>
                  <strong>ДЕПОЗИТЫ</strong>
                <% end %>
              </li>
              <% DEPOSITS_PRODUCTS.select{|x| x["OrganizationTypeID"]==2 and x["ProductID"].in?([101,107,109,119,126])}.each do |purpose| %>
                <li><a href="#"><%= purpose["Name"]%></a></li>
              <% end %>
              <li><a href="#">...</a></li>
            </ul>
          </li>
          <li class="col-sm-4">
            <ul>
              <li>
                <%= link_to products_credit_purposes_path(2), :title => "Кредиты корпоративным клиентам", :class=> "nav-child" do %>
                  <strong>КРЕДИТЫ</strong>
                <% end %>
              </li>
              <% CREDITS_PURPOSES.select{|x| x["IsForCompanies"]}.each do |credit_purpose| %>
                <li>
                  <%= link_to credit_purpose["Name"], products_credit_types_credits_path(2,credit_purpose["ID"]) %>
                </li>
              <% end %>
              <li>
                <%= link_to(internetbank_path()) do %>
                  <strong>ИНТЕРНЕТ БАНКИНГ</strong>
                <% end %>
              </li>
              <li>
                <%= link_to cards_path() do %>
                  <strong>ЗАРПЛАТНЫЕ ПРОЕКТЫ</strong>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="col-sm-4">
            <ul>
              <li><%= link_to(products_depository_path(1)) do %>
                  <strong>СЕЙФОВЫЕ ЯЧЕЙКИ</strong>
                <% end %>
              </li>
              <li><a href="#" class="nav-child"><strong>ДЕНЕЖНЫЕ ПЕРЕВОДЫ</strong></a></li>
              <li><%= link_to "Переводы Клиринг/Гросс", products_transfer_types_local_transfers_cliring_gross_path(2) %></li>
              <li><%= link_to "Международные переводы СВИФТ", products_transfer_types_local_transfers_swift_path(2) %></li>
              <li><%= link_to "Межфилиальные переводы Салам", products_transfer_types_local_transfers_branch_transfers_path(2) %></li>
              <li><%= link_to(garants_path(1)) do %>
                  <strong>РЕАЛИЗАЦИЯ ЗАЛОГОВОГО ИМУЩЕСТВА</strong>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                <% if params["client_type"].to_i==1%> 
                  style="color:#d40000;text-decoration:underline"
                  <% end %>>Частным клиентам</a>
        <ul class="dropdown-menu megamenu row">
          <li class="col-sm-3">
            <ul>
              <li>
                <%= link_to products_deposit_types_path(1), :title => "Депозиты частным клиентам", :class=> "nav-child" do %>
                  <strong>ДЕПОЗИТЫ</strong>
                <% end %>
              </li>
              <% DEPOSITS_PRODUCTS.select{|x| x["OrganizationTypeID"]==1}.each do |purpose| %>
                <li><a href="#"><%= purpose["Name"]%></a></li>
              <% end %>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li>
                <%= link_to products_credit_purposes_path(1), :title => "Кредиты частным клиентам", :class=> "nav-child" do %>
                  <strong>КРЕДИТЫ</strong>
                <% end %>
              </li>
              <% CREDITS_PURPOSES.select{|x| x["IsForIndividuals"]}.each do |credit_purpose| %>
                <li>
                  <%= link_to credit_purpose["Name"], products_credit_types_credits_path(1,credit_purpose["ID"]) %>
                </li>
              <% end %>
              <li>
                <%= link_to internetbank_path() do %>
                  <strong>ИНТЕРНЕТ БАНКИНГ</strong>
                <% end %>
              </li>
              <li><%= link_to cards_path() do %>
                  <strong>ПЛАТЕЖНЫЕ КАРТЫ</strong>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li><%= link_to(products_depository_path(1)) do %>
                  <strong>СЕЙФОВЫЕ ЯЧЕЙКИ</strong>
                <% end %>
              </li>
              <li><a href="#" class="nav-child"><strong>ДЕНЕЖНЫЕ ПЕРЕВОДЫ ВНУТРИ КР</strong></a></li>
              <li><%= link_to "Переводы Клиринг/Гросс", products_transfer_types_local_transfers_cliring_gross_path(1) %></li>
              <li><%= link_to "Межфилиальные переводы Салам", products_transfer_types_local_transfers_branch_transfers_path(1) %></li>
              <li><%= link_to(garants_path(1)) do %>
                  <strong>РЕАЛИЗАЦИЯ ЗАЛОГОВОГО ИМУЩЕСТВА</strong>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li>
                <%= link_to products_transfer_types_international_transfers_path(1), :class => "nav-child" do %>
                  <strong>МЕЖДУНАРОДНЫЕ ПЕРЕВОДЫ</strong>
                <% end %>
              </li>
              <li>
                <%= link_to "Международные переводы СВИФТ", products_transfer_types_local_transfers_swift_path(1) %>
              </li>
              <li><a href="#">Золотая корона</a></li>
              <li><a href="#">Монейграм</a></li>
              <li><a href="#">Фастер</a></li>
              <li><a href="#">Контакт</a></li>
              <li><a href="#">Юнистрим</a></li>
              <li><a href="#">Экспрессмоней</a></li>
              <li><a href="#">Близко</a></li>
              <li><a href="#">Салам</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">О нашем банке</a>
        <ul class="dropdown-menu megamenu row">
          <li class="col-sm-3">
            <ul>
              <li><a href="#" class="nav-child"><strong>О БАНКЕ</strong></a></li>
              <li><a href="#">Банк сегодня</a></li>
              <li><%= link_to("Руководство", management_path())%></li>
              <li><%= link_to("Филиалы и сберкассы", offices_path())%></li>
              <li><%= link_to("Банкоматы и постерминалы",posterminals_path())%></li>
              <li><%= link_to("Корреспондентская сеть",corraccounts_path())%></li>
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li><a href="#" class="nav-child"><strong>ПРЕСС ЦЕНТР</strong></a></li>
              <li><%= link_to("Отчетность", reports_path(), class:"nav-child")%>  </li>
              <li><%= link_to("Новости", news_path())%></li>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Фото галерея</a></li>
            </ul>
          </li>
          <li class="col-sm-6">
            <ul>
              <li><a href="#" class="nav-child"><strong>ОБЩАЯ ИНФОРМАЦИЯ</strong></a></li>
              <li><a href="#">Вакансии</a></li>
              <li><a href="#">Тендеры</a></li>
              <li><%= link_to("Реализация залогового имущества",garants_path())%></li>
              <li><%= link_to("Реквизиты",bankdetails_path())%></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <span>
      <div id = "lang" class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" style="border:0px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="color:#d40000;">Ru</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" style="width:50px;">
          <li><a href="#"><span class="flag flag-kg" style='width: 32px;display: block;float: left;margin-top:-5px;margin-left:-15px;'></span><span style="margin-left:4px;">Кыргызча</span></a></li>
          <li><a href="#"><span class="flag flag-ru" style='width: 32px;display: block;float: left;margin-top:-5px;margin-left:-15px;'></span><span style="margin-left:4px;">Русский</span></a></li>
          <li><a href="#"><span class="flag flag-gb" style='width: 32px;display: block;float: left;margin-top:-5px;margin-left:-15px;'></span><span style="margin-left:4px;">English</span></a></li>
        </ul>
      </div>
      <a id = 'search' href="#"><%= image_tag("search.svg") %></a>
    </span>
  </div>
</div>