<div class="avatar-flip">
  <%= image_tag manager.photo.url(:med)%>
</div>
<h3><%=manager.fullname%></h3>
<h4><%=manager.title%></h4>
<p><%=manager.biography%></p>
<p><%=manager.addresstoclients%></p>