<div class = <%=class_name%>>
<% firstbanner = banners.first %>
<% banners.each do |minibanner| %>
  <div class = "banner _ac_ban <%= 'ac_ban' if minibanner==firstbanner%>">
    <%= link_to mini_special_offer_path(minibanner.id) do %>
      <%= image_tag(minibanner.image.url(:large)) %>
    <% end %>
    <span class="read_more">
      <%= link_to mini_special_offer_path(minibanner.id) do %>
        Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% end %>
    </span>
  </div>
<% end %>
</div>
<script type="text/javascript">
      bg_changer = function(){
          oActive = $(".banners > .<%=class_name%> > .ac_ban");
  
       if (oActive.next().length > 0)
       {
         oActive.removeClass('ac_ban');
         oActive.next().addClass('ac_ban');
       }
       else
       {
         oActive.removeClass('ac_ban');
         oActive.parent().children().eq(0).addClass('ac_ban');
       }
     }
      $(function() {
        self.setInterval(bg_changer, <%= interval %>);
      });
</script>