<%= render layout: "shared/one_column_sidebar", locals:{title:"Новости", subtitle:""} do %>
  <div class = 'main_content'>
    <ul class = "news_list">
      <% @newsitems.each do |newsitem| %>
        <li>
          <span class = 'date'><%= newsitem.creation_date.mday %><br/>
            <%= MonthShortName(newsitem.creation_date.mon) %></span>
          <%= link_to news_details_path(newsitem[:id]) do %>
            <b><%= newsitem.caption %></b><br/>
            <%= newsitem.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="pagination pagination-sm">
      <li class="<%= 'disabled' if @currentpage == 1 %>">
        <a href="<%= news_path() %>"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
      <li class="<%= 'disabled' if @currentpage == 1 %>">
        <a href="<%= news_path(:pageno=>@currentpage-1) %>"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
      <% for pageno in @startpage..@endpage%>
        <li class="<%= 'active' if @currentpage == pageno %>">
          <%= link_to pageno, news_path(:pageno=>pageno) %></li>
      <% end %>
      <li class="<%= 'disabled' if @currentpage == @lastpage %>">
        <a href="<%= news_path(@currentpage+1) %>"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
      <li class="<%= 'disabled' if @currentpage == @lastpage %>">
        <a href="<%= news_path(@lastpage) %>"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
    </ul>
  </div>
<% end %>