<%= render layout: "shared/one_column_sidebar", locals:{title:"Новости", subtitle:""} do %>
  <div class = 'main_content'>
    <%= render 'shared/show_newsitem', newsitem: @newsitem %>
    <hr/>
    <h4>Последние новости</h4>
    <ul class = "news_list">
      <% @newsitems.select{|n| n!=@newsitem}.each do |newsitem| %>
        <li>
          <span class = 'date'><%= newsitem.creation_date.mday %><br/>
            <%= MonthShortName(newsitem.creation_date.mon) %></span>
          <%= link_to news_details_path(newsitem[:id]) do %>
            <b><%= newsitem.caption %></b><br/>
            <%= newsitem.description %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>