<div class="page-header">
  <h1>Банкоматы и постерминалы</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3>Банкоматы ОАО "ФинансКредитБанк КАБ"</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Адрес</th>
            <th>Валюты</th>
            <th>Время работы</th>
          </tr>
        </thead>
        <% bankomats = @cash_terminals.select{ |x| x.type_id == 1 } %>
        <% bankomats.each do |b| %>
          <tbody>
            <tr  data-lon=<%=b.lon%> data-lat=<%=b.lat%> >
              <td scope="row"><%= b.name %></td>
              <td scope="row"><%= b.address %></td>
              <td><%=b.currencies%></td>
              <td><%=b.workdays%></td>
              <td><a href="#myModal" class="btn btn-link" data-toggle="modal" data-lon=<%=b.lon%> data-lat=<%=b.lat%>>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> показать на карте </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>Постерминалы ОАО "ФинансКредитБанк КАБ"</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Адрес</th>
            <th>Валюты</th>
            <th>Время работы</th>
            <th></th>
          </tr>
        </thead>
        <% posterminals = @cash_terminals.select{ |x| x.type_id == 2 } %>
        <% posterminals.each do |pos| %>
          <tbody>
            <tr>
              <td scope="row"><%= pos.name %></td>
              <td scope="row"><%= pos.address %></td>
              <td><%=pos.currencies%></td>
              <td><%=pos.workdays%></td>
              <td><a href="#myModal" class="btn btn-link" data-toggle="modal" data-lon=<%=pos.lon%> data-lat=<%=pos.lat%>>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> показать на карте </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Месторасположение на карте</h4>
      </div>
      <div class="modal-body">
        <div style='width: 100%; background: #fff;box-shadow: 0 0 25px rgba(0,0,0,0.5);padding: 2px;' >
          <div id="map" style='width: 100%; height: 400px;'></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var map;
      var myCenter=new google.maps.LatLng(42.866819, 74.611587);
      var marker=new google.maps.Marker({
        position:myCenter
      });
  
      function initialize() {
        var mapProp = {
          center:myCenter,
          zoom: 17,
          draggable: false,
          scrollwheel: false,
          mapTypeId:google.maps.MapTypeId.TERRAIN
        };
        map=new google.maps.Map(document.getElementById("map"),mapProp);
  
        marker.setMap(map);  
      };
      $(document).ready(function(){
        initialize()
      });
  
      google.maps.event.addDomListener(window, "resize", resizingMap);
  
      $('#myModal').on('show.bs.modal', function(e) {
       //Must wait until the render of the modal appear, thats why we use the resizeMap and NOT resizingMap!! ;-)
        resizeMap();
        element = $(e.relatedTarget);  
        myCenter = new google.maps.LatLng(element.data("lat"), element.data("lon"));
        marker.setMap(null); 
        marker=new google.maps.Marker({
          position:myCenter
        });
      })
  
      function resizeMap() {
        if(typeof map =="undefined") return;
        setTimeout( function(){resizingMap();} , 400);
      }
  
      function resizingMap() {
        if(typeof map =="undefined") return;
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(myCenter);
        marker.setMap(map); 
      }
</script>